#所有空行或者以注释符号#开头的行都会被git忽略,例如此行
#可以使用标准的glob模式匹配
#匹配模式最后跟反斜杠/ 说明要忽略的目录
#要忽略指定模式以外的文件或目录,可以在模式前面加上感叹号! 取反
#所谓的glob模式是指shell所使用的简化了的正则表达式,星号* 匹配零个或多个任意字符
#问号? 只匹配一个任意字符,可以使用- 在两个字符范围内匹配,例如 0-9
# Maven #
target/

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.classpath
.project

# logs file #
logs/

# database file #
tale.db
